/Content Warning.url
/CV.docx
/CV.pdf
/Data Science For Dummies.pdf
/desktop.ini
/Discord.lnk
/Esraa Yasser Sayed Ahmed - 512291835.pdf
/GitHub Desktop.lnk
/hello.py
/Microsoft
/Microsoft Edge.lnk
/NAC script.pdf
/New folder
/New Microsoft Word Document (2).docx
/New Microsoft Word Document.docx
/Old Firefox Data
/Online store
/personas_template.docx
/python.py
/Soft Skills
/tempCodeRunnerFile.py
/tempCodeRunnerFile.python
/Untitled-1.html
/Visual Studio Code.lnk
/WebDesign
/Zoom Workplace.lnk